// Fuentes
$p-font: 'Montserrat', sans-serif;

// Colores
 $title-color: #4E5150;


* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $p-font;
}

.container{
    width: 93.6%;
    margin: 0 auto;

    .header {
        margin: 3rem 0 2.4rem 0;
        
        .title {
            font-size: 2.4rem;
            font-weight: 600;
            color: $title-color;
        }
    }
}